.botao {
    background-color: #a52e2e;
    border-radius: 10px;
    font-weight: 700;
    font-size: 22px;
    padding: 32px;
    border-inline-style: initial;
    cursor: pointer;
    color: black;
    margin: 32px 0;
}

.botao:hover {
    color: whitesmoke
}